<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>
        {% block title %}{{ config.title }}{% endblock %}
    </title>
    {% block self_url %}
    <link href="http://{{ config.domain }}/atom.xml" rel="self" />
    {% endblock %}

    {% block site_url %}
    <link href="http://{{ config.domain }}/"/>
    {% endblock %}

    {% block feed_extra %}
    {% endblock %}

    <updated>{{ time_now }}</updated>

    <id>atom-feed</id>

    {% set term = bundle.value %}

    {% for bundle in engine.get_bundles_by("publish_time", "desc", status="published") %}
        <entry>
            <title type="html">{{ bundle.meta.title }}</title>
            <author><name>{{ bundle.meta.author|escape or config.default_author|escape }}</name></author>
            <link href="http://{{ config.domain }}{{ bundle.url() }}{% if 'feed_campaign' in config %}?utm_source=subscriber&amp;utm_medium=feed&amp;utm_term={{ term }}&amp;utm_campaign={{config.feed_campaign.name}}{% endif %}"/>
            <updated>{{ bundle.meta.updated_time|iso8601 }}</updated>
            <published>{{ bundle.meta.publish_time|iso8601 }}</published>
            <id>{{ bundle.key }}</id>
            {% for tag in bundle.meta.tags %}
                <category
                    scheme="blog/tags"
                    term="{{tag}}"
                    label="{{ tag|title }}" />
            {% endfor %}
            {% if bundle.value %}
                <category
                    scheme="blog/tags"
                    term="{{tag}}"
                    label="{{ tag|title }}" />
            {% endif %}

            <content type="html">
                {{ bundle.content }}
            </content>
        </entry>
    {% endfor %}
</feed>
