{% extends "site_base.j2" %}

{% block header_right %}
    {% if bundle.meta.link_to %}
        <h1 class="title title-link"><a href="{{ bundle.meta.link_to }}" target="_new">{{ bundle.meta.title  }} <span class="glyph general">u</span></a></h1>
    {% else %}
        <h1 class=title>{{ bundle.meta.title  }}</h1>
    {% endif %}
    <h4>{{ bundle.meta.publish_time }}</h4>
{% endblock %}

{% block content %}
    <article>
        {{ bundle.content|safe }}
    </article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'wwwironfroggycom'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
