<html>
    <title>{{ self.title }}</title>
    <body>
        <h1>{{ self.title }}</h1>
        <ul>
            {% for tag in engine.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
